CSS
/* Styles.css */

.about-me {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-me h2 {
    margin-top: 0;
}

.about-me p {
    margin-bottom: 20px;
}

.about-me a {
    text-decoration: none;
    color: #337ab7;
}

.about-me a:hover {
    color: #23527c;
}
